/*Contact*/

.map_container {
    width: 450px;
    height: 350px;
    grid-column: 2;
    grid-row: 3;
    border: solid;
    border-color: rgb(99, 173, 207);
    border-radius: 30px;
    overflow: hidden;
}

.text_container {
    margin-inline-end: 175px;
    text-align: left;
    grid-column: 2;
    font-size: 25pt;
    font-weight: bold;
}



.text_container a {
    color: rgb(99, 173, 207);
}